<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.green.board5.BoardMapper">
    <insert id="postBoard">
        INSERT INTO board
        SET title = #{title}
            , contents = #{contents}
            , writer = #{writer}
    </insert>

    <select id="getBoard">
        SELECT title, contents, writer, created_at as createdAt
        FROM board
    </select>

    <select id="getBoardOne">
        SELECT board_id as boardId, title, contents, writer, created_at as createdAt
        FROM board
        WHERE board_id = #{boardId}
    </select>

    <update id="putBoard">
        UPDATE board
        <set>
            <if test=" title != null and title != '' ">
                title = #{title}
            </if>
            <if test=" contents != null and contents != '' ">
                , contents = #{contents}
            </if>
            <if test=" writer != null and writer != '' ">
                , writer = #{writer}
            </if>
        </set>
        WHERE board_id = #{boardId}
    </update>

    <delete id="delBoard">
        DELETE FROM board
        WHERE board_id = #{boardId}
        AND writer = #{writer}
    </delete>

</mapper>